{% extends "interactionChecker/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <h1>Interaction Checker</h1>
    <form action="{% url 'interactions' %}" method="get">
        <div class="form-group row">
            <label for="drugName" class="col-sm-2 col-form-label">Enter Drug</label>
            <div class="col-sm-10">
              <input name="drug" type="text" class="form-control-plaintext" id="drugName" placeholder="Enter the name of drug you want to check:">
            </div>
          </div>
          <input class="btn btn-primary" type="submit" value="Check">
          </div>
    </form>
    <div class="container">
      <h2>Some things to note</h2>
      <ul>
        <li>
          Put one drug in the text box and click check
        </li>
        <li>
          To check multiple drugs write a comma separated list of the drugs
        </li>
        <li>
          If the drug you are checking isn't in the database or they're no interactions in your list of drugs the system crashes because I haven't accounted for that in the code
        </li>
        <li>
          This will only be available for 21 days. After that railway stops working.
        </li>
        <li>
          Some Drugs have long lists so take long to load so just wait a bit it will load.
        </li>
        <li>
           <a href="https://lhncbc.nlm.nih.gov/RxNav/APIs/InteractionAPIs.html" target="_blank">Here's a link to the API documentation</a>
        </li>
      </ul>
    </div>
    
</div>



{% endblock %}